body { 
  margin:0; 
  padding:0; 
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:14px;
}

header{
  display: inline-block;
  width: 100%;
    position: relative;
    z-index: 500;
    height: 80px;
    background-color: white;
    box-shadow: 0 0 5px #888888;
}

header h1{
  font-family: "proxima-nova",sans-serif;
  font-size: 32px;
  font-weight: 800;
	color: #FC4C02;
	display: inline-block;
	margin-right: 20px;
  margin-left: 25px;
}

header h4{
  display: inline;
  font-size: 21px;
  font-weight: 200;
}

h1 { 
  font-size: 24px;
  font-weight: 200;
  margin-left: 20px;
}
h2{
  font-size: 16px;
  font-weight: 600;
  margin-left: 20px;
}

.flex-wrapper{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

article.flex-wrapper{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
    width: 100%;
    height: 100%;
    top: 80px;
}


.flex-item {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.chart {
    height: 151px;
    font: 15px sans-serif;
    margin-bottom: 20px;
    margin-top: 50px;
}
.title{
  /*margin-left: 20px;*/
}
.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
  font-weight: 400;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: #FC4C02;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 8px sans-serif;
}

.brush rect.extent {
  fill: #FC4C02;
  fill-opacity: .125;
}

#start{
    color: #FC4C02;
    font-weight: 400;
}
#end{
    color: #FC4C02;
    font-weight: 400;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

#map { 
  position:absolute; 
  top:0; 
  bottom:0;
  width: calc(100% - 350px);
}

/* COLUMNS */

#left-column{
  width: 350px;
  padding-top: 15px;
  background-color: white;
}

#left-column.flex-wrapper{
  display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

/* LISTS */
#ul-athletes{
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}

#ul-segments{
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}
.table-head{
    background-color: #ededed;
    padding: 7px 45px 7px 25px;
    font-size: 12px;
    border-bottom: #b5b5b5 1px solid;
    font-weight: bold;
}

li.li-athlete {
    padding: 20px 45px 20px 25px;
    font-size: 14px;
}

li.li-athlete:nth-child(even) {
    background: #f5f5f5;
}

.li-segment-s {
    padding: 20px 45px 20px 25px;
    font-size: 14px;
}

.li-segment-s:nth-child(even) {
    background: #f5f5f5;
}
.span_count {
    float: right;
}

.list-head {
    border-bottom: #b5b5b5 1px solid;
    border-top: #b5b5b5 1px solid;
    margin: 0;
    /*padding: 13px 25px;*/
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 25px;
}

.list-head h2{
    font-size: 17px;
    font-weight: normal;
    display:inline;
}

.chevron:hover{
    cursor: pointer;
}

.chevron.hidden{
    display: none;
}

div.list-table {
    max-height: 365px;
    overflow: hidden;
    transition: max-height 500ms ease-out;
}

div.list-table.collapse{
    max-height: 0;
}

.mapboxgl-ctrl-group.mapboxgl-ctrl {
    margin-top: 100px;
}

button.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass{
  display: none;
}

/* CHECKBOXES */
input[type="checkbox"] {
    float: left;
}
label{
    float:left;
}
div#control-checkbox{
  margin-left: 25px;
}

/* TIME LINE */
div#control-timeline {
    clear: both;
}

/* SEGMENT DETAIL */
caption{
  font-size: 14px;
  color: #FF4B00;
  font-weight: 200;
}
value{
  font-size:26px;
  color:#4A4A4A;
  font-weight:200;
}
unit{
  font-size:16px;
  color:#4A4A4A;
  font-weight:200;
}
unit-name{
  font-size:10px;
  color:#9B9B9B;
  font-weight:200;
}